* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../images/logo.jpeg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 500px auto;
  // height: max-content;
}

:root {
  --base-font-size: 17px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.pagina {
  width: 100%;
  height: 90%;
  overflow: hidden;
  text-align: center;
}

.pagina-header {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
  height: 70px;

  &__livro::after {
    content: " ";
  }

  &__livro,
  &__capitulo {
    display: flex;
    align-items: baseline;
    position: relative;
    display: inline;
    text-align: center;

    margin: 0 !important;
  }

  &__botoes {
    display: flex;
    align-items: baseline;
  }
}

.pagina-body {
  position: relative;
  width: 95%;
  margin-top: 10px;
  overflow-y: auto;
  text-align: justify;
  height: 80vh;

  &__versiculos {
    font-size: var(--base-font-size) !important;
    padding-right: 20px;
  }
}